body{
   background-color: #000;
   margin: 10px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   flex-direction: column;
   color: #fff;
}
.mein-contanr{
   display: flex;
   height: 100vh;
   align-items: center;
   justify-content: center;
   /* background-color: #fff; */
   width: 100%;
   /* height: 500px; */
}
.calculater{
   border-radius: 10px;
   background-color: #000;
    /* background-color:#3a4452;  */
    background-color: #bbbb;
   padding: 20px;
}
.contanir input{
   border: none;
   outline: none;
   border-radius: 10px;
  /* background-color: transparent;*/
   color: #000;
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
   text-align: right;
   width: 250px;
   height: 70px;
   font-size: 35px;
}
.buttons button{
   background-color: transparent;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   width: 50px;
   height: 50px;
   font-size: 1.5rem ;
   border-radius: 10px;
   border: none;
   margin: 5px;
}
.buttons{
   color: white;
}
button:hover{
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   transform: scale(1.1);
}
button:active{
   background-color: darkgrey;
}
.oprateo{
   color: darkblue;
}
.oprateo:active{
   background-color: rgb(173, 173, 235);
}